# MirageNet - Data and Logs
data/*.db
data/*.log
data/*.sqlite3
data/payloads/

# Python Environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# others

# SSH Keys
ports/port_22_ssh/rsa_key
ports/port_22_ssh/rsa_key.pub

# Database
data/miragenet.db

# Payloads
data/payloads/*

canliya_test.txt